<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES(
		SEQ_BOARD_BNO.NEXTVAL, #{email}, #{bcontent}, #{gcount}, #{rurl}, #{isad},'N')
	</insert>
</mapper>